In [1]:
import pandas as pd
import numpy as np
import glob
import sys
sys.path.append('../')
from cleaners.cleaners import clean_dataframe, clean_dataframe_columns, unique_values_count, n_counts_and_values

In [2]:
# define path

path = '../data/yellow'
all_files = glob.glob(path + "/*.parquet")

In [3]:
# read the parquet files

#dfs = [pd.read_parquet(file) for file in all_files]

There are over 4M rows on the raw concatenated DF - I think this may be too taxing for models - reduced to 40K random sample to start with

In [4]:
# uses function to load, clean column names, and sample each file

fraction = 0.0001  # sample fraction of rows

# uses function to clean df columns
sampled_dfs = [clean_dataframe_columns(pd.read_parquet(file).sample(frac=fraction)) for file in all_files]

# concat all sampled names
final_df = pd.concat(sampled_dfs, ignore_index=True)

C:\Users\desgr\AppData\Local\Temp\ipykernel_3604\1333954172.py:9: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  final_df = pd.concat(sampled_dfs, ignore_index=True)

In [5]:
final_df.head()

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2017-01-26 19:47:33,2017-01-26 20:00:12,1.0,3.21,1.0,N,68,237,1,12.0,1.0,0.5,2.76,0.00,0.3,16.56,NaN,NaN
1,1,2017-01-01 17:28:30,2017-01-01 17:40:32,2.0,1.20,1.0,N,161,100,2,9.5,0.0,0.5,0.00,0.00,0.3,10.30,NaN,NaN
2,2,2017-01-02 18:38:10,2017-01-02 19:19:10,1.0,18.37,2.0,N,132,48,1,52.0,0.0,0.5,14.58,5.54,0.3,72.92,NaN,NaN
3,1,2017-01-20 20:38:50,2017-01-20 20:40:16,1.0,0.40,1.0,N,68,68,2,3.5,0.5,0.5,0.00,0.00,0.3,4.80,NaN,NaN
4,1,2017-01-24 13:56:51,2017-01-24 14:08:26,1.0,1.10,1.0,N,161,186,1,8.5,0.0,0.5,1.85,0.00,0.3,11.15,NaN,NaN

In [6]:
final_df.shape

(41859, 19)

In [ ]:
vendorid_counts = final_df['vendorid'].value_counts()

print(vendorid_counts)

In [ ]:
df=final_df

In [ ]:
sampled_df = df.sample(n=100)
display(sampled_df)

In [ ]:
print(sampled_df.dtypes)

In [ ]:
# there are 2 airport fee columns, we need to stardardize before the concat

In [ ]:
df2=sampled_df

In [ ]:
# look at unique values for vendor ID
print(df2['vendorid'].unique())

In [ ]:
vendorid_counts = final_df['vendorid'].value_counts()

print(vendorid_counts)

In [ ]:
# there are only 2 (the other instances appear to be typos) so this column can be dropped since such general info is not of use to us
# the improvement_surcharge is a standard add-on fall all fares so we can drop this too

final_df.drop(columns=['vendorid', 'improvement_surcharge', 'store_and_fwd_flag'], inplace=True)

In [ ]:
final_df.shape

In [ ]:
result = unique_values_count(final_df, 'store_and_fwd_flag')
print(result)

As this colum relates to trip memory storage it is not of interest to us

In [ ]:
display(n_counts_and_values(final_df))